body {
  background-color: white;
    color: black;
  margin-left: 20px;
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;

}
h1 {
  color: black;
  margin-left: 20px;
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  position: center;
}
h2 {
  color: black;
  margin-left: 20px;
  font-family: nimbus-sans, sans-serif;
  font-weight: 100;
  font-size: 25px;
  font-style: normal;
  position: center;
}

