body {
  background-color: #c1c1c1;
  color: black;
  margin-left: 20px;
  font-family: akzidenz-grotesk, sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  text-align: left;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* selected link */
a:active {
  color: black;
}