@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helvetica_neue-webfont.woff2') format('woff2'),
         url('helvetica_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family:'helvetica_neueregular', Helvetica ;
	font-size: 80px;
	color: black;
	background: white;

}
