body{
	font-family: "times";
	font-size: 40px;
	margin-left: 60px;
	background-color: #fff772;
}
.simplelink:hover {
  background-color: pink;
}

.gradient-fill {
  background: -webkit-linear-gradient(#e128ff, #ff5151);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-fill:hover {
  background: -webkit-radial-gradient(#22c1c3, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.funky-cursor {
  color: blue;
}
.funky-cursor {
  cursor: url(../imgs/beachball.png), auto;
}

.nana {
  font-style: italic;
color: #ff7900;
  transition: all 2s ease-in-out;
}

.nana:hover {
  cursor: pointer;
  font-size: 2em;
}
.shape {
	margin-left: 1000px;
	width: 200px;
  	height: 200px;
   border-radius: 50%;
  position: relative;
  display: inline-block;
  background-color: #ff00d1;
  -webkit-transform: rotate(360deg);
  -webkit-transition: all 2s ease-in-out;
}

.shape:hover {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #ffe002;
  -webkit-transform: scale(5);
  cursor: pointer;
}

.rotate{
	  -webkit-transform: rotate(360deg);
	 -webkit-transition: all 2s ease-in-out;
	font-family: "times";
	font-size: 40px;
	color: #00fbff;
	margin-left: 0px;


}
