body{
	background-color: black;
    cursor: pointer;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: white;
    text-decoration: none;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* selected link */
a:active {
  color: white;
}




img.center {
display: block;
margin-left: auto;
margin-right: auto;
}