body {
  background-color: #0b0a38;
}



/*Simplified your CSS, just use flexbox w/o the css positioning elements. you might need to tweak your HTML so that the box is nexted inside of square1 */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgb(74, 107, 129);
  height: 700px;


}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.box1 {
  height: 300px;
  width: 200px;
  background: #c10000;
  animation: rotation 3s infinite linear;
    position: absolute;
    left: 25vw;
    top: 13vw;
}
#square1 {
    animation: rotation 3s infinite linear;
    background-color:#ff6b99;
    height: 600px;
    width: 400px;
    position: absolute;
    left: 25vw;
    top: 2vw;

}
