body{
 /* The height is fixed by pixels*/
        background-color:#a3a3a3;
}
.name{
    font-family: Helvetica, arial, sans-serif;
    color: black;
    font-size: 30px;
    margin: 40px;

}
.media{
    position: relative;
    text-align: center;
 
  
}

.link{
	font-family: Helvetica, arial, sans-serif;
  
    font-size: 30px;
    margin: 40px;

	/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: rgb(238, 195, 236);
}

/* selected link */
a:active {
  color: black;
}
}
