body{
 /* The height is fixed by pixels*/
        background-color:#a3a3a3;
}
.name{
    font-family: Helvetica, arial, sans-serif;
    color: black;
    font-size: 30px;
    margin: 40px;

}
.media{
    position: relative;
    text-align: center;
 
  
}
