html,
body,{
	height: 100%;
	background-color: #fffef9;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box1{
	width: 1000px;
	height: 800px;
	background-color: black;
}
.box2{
	width: 7000px;
	height: 800px;
	background-color: #fffef9;
}