/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}
.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
  justify-content: center;
}

/* Your CSS goes here */

.table{
  width: 600px;
  height: 200px;
  background: #474747;
  position: absolute;
  top:20;
  bottom:0;
  left: 185px;
  right:0;

}
.orange{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff8c00;
  top:20;
  bottom: 60px;
  left: 430px;
  right:0;
}
.orange1{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff8c00;
  top:20;
  bottom: 60px;
  left: 475px;
  right:0;
}
.cat{
  width: 80px;
  height: 100px;
  background: #ffe1ad;
  border-radius: 50%;
  position: absolute;
  top:60;
  bottom:0;
  left: 250px;
  right:0;

}
.book{
  width: 80px;
  height: 30px;
  background: #00ffff;
  position: absolute;
  bottom: 66px;
  left: 600px;


}
