@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helvetica_neue-webfont.woff2') format('woff2'),
     url('helvetica_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ideologyregular_heavy';
    src: url('ideology-regularheavy-webfont.woff2') format('woff2'),
         url('ideology-regularheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: rgb(0,255,0);
     overflow: hidden;
}

.boxed {
  border: 1.5px solid black;
  background-color: white;
  width: 560px;
  height: 750px;
  position: relative;
  left: 400px;

}
.main-poster{
	font-family:'helvetica_neueregular', Helvetica ;
	font-size: 40px;
	color: black;
	position: relative;
    top: 20px;
    left: 20px;
}

.talia{
    font-family:'ideologyregular_heavy', Helvetica ;
    font-size: 40px;
    color: black;

}

.sachi {
    font-family:'ideologyregular_heavy', Helvetica ;
    font-size: 40px;
    color: black;
}

.address{
    font-family:'helvetica_neueregular', Helvetica ;
    font-size: 20px;
    color: black;
    position: relative;
    position: relative;
    top: 350px;
    left: 0px;
}

.boxed-1 {
  border: 1.5px solid black;
  background-color: white;
  width: 560px;
  height: 750px;
  position: relative;
  top: -350px;
  transform: rotate(20deg);

}

.pre{
	font-family:'helvetica_neueregular', Helvetica ;
	font-size: 40px;
	color: black;
	position: relative;
    top: 20px;
    left: 20px;
}
.talia-1 { 
	font-family:'ideologyregular_heavy', Helvetica ;
    font-size: 40px;
    color: rgb(0,255,0);
    position: relative;
    top: 20px;
    left: 20px;
}
.address-1{
    font-family:'helvetica_neueregular', Helvetica ;
    font-size: 20px;
    color: black;
    position: relative;
    position: relative;
    top: 320px;
    left: 20px;
}

.blink {
    -webkit-animation: blink 0s step-end infinite;
    animation: blink 1.5s step-end infinite;

}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
      
.boxed-2 {
  border: 1.5px solid black;
  background-color: white;
  width: 560px;
  height: 750px;
  position: relative;
  top: -1100px;
  transform: rotate(-12deg);

}

.pre-2{
  font-family:'helvetica_neueregular', Helvetica ;
  font-size: 40px;
  color: black;
  position: relative;
    top: 20px;
    left: 20px;
}
.sanchi-1 { 
  font-family:'ideologyregular_heavy', Helvetica ;
    font-size: 40px;
    color: rgb(104,75,244);
    position: relative;
    top: 20px;
    left: 20px;
}
.address-2{
    font-family:'helvetica_neueregular', Helvetica ;
    font-size: 20px;
    color: black;
    position: relative;
    position: relative;
    top: 320px;
    left: 20px;
}




